<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Double</title>
    <style type="text/css" media="screen">
	.wrap {
		margin: 0 auto;
		width: 800px;
	}
	
	section{
		width: 525px;
		margin-right: 25px;
		float: left;
	}
	
	aside{
		width: 250px;
		float: left;
	}
	
	footer{
		clear: both;
		border-top: 1px solid #e3e3e3;
	}
	</style>
    
</head>
<body>
	<div class="wrap">
    	<header>
        	<h1>This is a header</h1>
        </header>
    	<section>
        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit condimentum lectus vitae sagittis. Fusce id felis lectus. Integer mattis, risus vitae bibendum pulvinar, arcu quam scelerisque magna, vitae aliquam orci dui a enim. Nulla vel turpis quam, vitae facilisis metus. Etiam suscipit condimentum luctus. Nullam sit amet leo non lectus consequat volutpat eu in nunc. Donec orci est, vestibulum sit amet volutpat vel, semper quis mi. Suspendisse eget eros vel turpis interdum tincidunt.</p>
        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit condimentum lectus vitae sagittis. Fusce id felis lectus. Integer mattis, risus vitae bibendum pulvinar, arcu quam scelerisque magna, vitae aliquam orci dui a enim. Nulla vel turpis quam, vitae facilisis metus. Etiam suscipit condimentum luctus. Nullam sit amet leo non lectus consequat volutpat eu in nunc. Donec orci est, vestibulum sit amet volutpat vel, semper quis mi. Suspendisse eget eros vel turpis interdum tincidunt.</p>        
        </section> 
        <aside>
        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit condimentum lectus vitae sagittis. Fusce id felis lectus. Integer mattis, risus vitae bibendum pulvinar, arcu quam scelerisque magna, vitae aliquam orci dui a enim. Nulla vel turpis quam, vitae facilisis metus. Etiam suscipit condimentum luctus. Nullam sit amet leo non lectus consequat volutpat eu in nunc. Donec orci est, vestibulum sit amet volutpat vel, semper quis mi. Suspendisse eget eros vel turpis interdum tincidunt</p>
        </aside> 
        <footer>
        	<p>This is a footer</p>
        </footer>
    </div>
</body>
</html>