<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Gallery</title>
    <style type="text/css" media="screen">
	.wrap {
		margin: 0 3%;
	}
	
	article{
		width: 200px;
		padding: 10px;
		margin: 10px;
		float: left;
		background: #f3f3f3;
	}
	
	footer{
		clear: both;
	}
	</style>
</head>
<body>
	<div class="wrap">
    	<header>
        	<h1>This is a header</h1>
        </header>
    	<section>
       		<article>
            	<h2>Title</h2>
            	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit condimentum lectus vitae sagittis. Fusce id felis lectus. Integer mattis, risus vitae bibendum pulvinar, arcu quam scelerisque magna, vitae aliquam orci dui a enim.</p>
            </article>
            <article>
            	<h2>Title</h2>
            	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit condimentum lectus vitae sagittis. Fusce id felis lectus. Integer mattis, risus vitae bibendum pulvinar, arcu quam scelerisque magna, vitae aliquam orci dui a enim.</p>
            </article>
            <article>
            	<h2>Title</h2>
            	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit condimentum lectus vitae sagittis. Fusce id felis lectus. Integer mattis, risus vitae bibendum pulvinar, arcu quam scelerisque magna, vitae aliquam orci dui a enim.</p>
            </article>
            <article>
            	<h2>Title</h2>
            	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit condimentum lectus vitae sagittis. Fusce id felis lectus. Integer mattis, risus vitae bibendum pulvinar, arcu quam scelerisque magna, vitae aliquam orci dui a enim.</p>
            </article>
            <article>
            	<h2>Title</h2>
            	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit condimentum lectus vitae sagittis. Fusce id felis lectus. Integer mattis, risus vitae bibendum pulvinar, arcu quam scelerisque magna, vitae aliquam orci dui a enim.</p>
            </article>
            <article>
            	<h2>Title</h2>
            	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit condimentum lectus vitae sagittis. Fusce id felis lectus. Integer mattis, risus vitae bibendum pulvinar, arcu quam scelerisque magna, vitae aliquam orci dui a enim.</p>
            </article>
            <article>
            	<h2>Title</h2>
            	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed suscipit condimentum lectus vitae sagittis. Fusce id felis lectus. Integer mattis, risus vitae bibendum pulvinar, arcu quam scelerisque magna, vitae aliquam orci dui a enim.</p>
            </article>
        </section>  
        <footer>
        	<p>This is a footer</p>
        </footer>
    </div>
</body>
</html>